<!-- Sidebar Header-->
<div class="sidebar-header d-flex align-items-center">
  <div class="avatar"><img src="https://d19m59y37dris4.cloudfront.net/admin/1-4-4/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
  <div class="title">
    <h1 class="h4">
      <a *ngIf="(role$ | async) === userRoles.SEEKER" [routerLink]="['/profile']">{{(profile$ | async)?.firstName + ' ' + (profile$ | async)?.lastName}}</a>
      <span *ngIf="(role$ | async) !== userRoles.SEEKER">{{(profile$ | async)?.firstName + ' ' + (profile$ | async)?.lastName}}</span>
    </h1>
    <!-- <p>Web Designer</p> -->
  </div>
</div>
<!-- Sidebar Navidation Menus--><span class="heading">Main</span>
<ul *ngIf="(role$ | async) === userRoles.SEEKER" class="menu-links list-unstyled">
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/search']"> <i class="icon-search"></i>Job Search </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/jobs/saved']"> <i class="fa fa-bar-chart"></i>Saved Jobs </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/jobs/applied']"> <i class="icon-padnote"></i>Applied Jobs </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/profile/quick-cv']"> <i class="icon-grid"></i>Quick CV </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/profile']"> <i class="icon-padnote"></i>My Profile </a></li>
  <li (click)="logout()"><a> <i class="icon-interface-windows"></i>Logout</a></li>
  <!-- <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
              </ul>
            </li> -->
</ul>
<ul *ngIf="(role$ | async) === userRoles.RECRUITER || (role$ | async) === userRoles.AGENCY" class="menu-links list-unstyled">
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/search']"> <i class="icon-search"></i>Job Search </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/jobs/submit']"> <i class="icon-grid"></i>Post a Job </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/search/candidate']"> <i class="icon-grid"></i>Candidate Search </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/roster']"> <i class="fa fa-bar-chart"></i>My Roster </a></li>
  <li><a routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/jobs/my-postings']"> <i class="icon-padnote"></i>My Postings </a></li>
  <li (click)="logout()"><a> <i class="icon-interface-windows"></i>Logout</a></li>
</ul>
<!-- <ul class="list-unstyled">
    <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
    <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
    <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
    <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
  </ul> -->
