<div class="row justify-content-center">
  <div class="card card-body col-11">
    <h3>Submit a Job</h3>
    <br>

  <form #form [formGroup]="submitJobForm" (ngSubmit)="onJobSubmit(submitJobForm.value)">
      <div class="row">
        <div class="form-group col-12 col-md-6">
          <label>Job Id</label>
          <input formControlName="jobId" type="text" class="form-control">
        </div>
        <div class="form-group col-12 col-md-6">
          <label>Title</label>
          <input formControlName="title" type="text" class="form-control">
        </div>
        <div class="form-group col-12 col-md-12">
          <label>Description</label>
          <textarea formControlName="description" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group col-12 col-md-6">
          <label class="d-flex justify-content-between">
            <span>Employer</span>
            <span>
                Confidential
                <input class="ml-auto" formControlName="isConfidential" type="checkbox">
            </span>
          </label>
          <input formControlName="employer" type="text" class="form-control">
        </div>
        <div class="form-group col-12 col-md-6">
          <label>Skills</label>
          <input (keyup.enter)="addSkill(submitJobForm.value.skills)" #skillInput formControlName="skills" type="text" class="form-control">
          <div>
            <span class="badge mr-2 badge-primary skill" *ngFor="let skill of skills; let i = index;">
              <span (click)="removeSkill(i)" class="remove">x</span> {{skill}}
            </span>
          </div>
        </div>
        <!-- <div class="form-group col-6 col-md-3">
          <label>Years</label>
          <input (keyup.enter)="addSkill(submitJobForm.value.skills)" formControlName="skills" type="text" class="form-control">
          <div>
            <div class="badge mr-2 badge-primary" *ngFor="let skill of skills">{{skill.name}}</div>
          </div>
        </div> -->
        <div class="form-group col-12 col-md-6">
          <label>Start Date</label>
          <input formControlName="startDate" type="date" class="form-control">
        </div>
        <div class="form-group col-12 col-md-6">
          <label>End Date</label>
          <input formControlName="endDate" type="date" class="form-control">
        </div>
        <div class="form-group col-12 col-md-6">
          <label>Minimum Rate (Hourly)</label>
          <input formControlName="minRate" type="number" class="form-control">
        </div>
        <div class="form-group col-12 col-md-6">
          <label>Max Rate (Hourly)</label>
          <input formControlName="maxRate" type="number" class="form-control">
        </div>
        <div class="form-group col-12 col-md-6">
          <label>Application Close Date</label>
          <input formControlName="applicationCloseDate" type="date" class="form-control">
        </div>
      </div>

    </form>
    <div class="text-right">
      <button (click)="onJobSubmit(submitJobForm.value)" [disabled]="(postJobStatus$ | async) === status.IN_PROGRESS || !submitJobForm.valid" class=" btn btn-primary">
          <i *ngIf="(postJobStatus$ | async) === status.IN_PROGRESS" class="fa fa-spinner fa-spin"></i> Submit
      </button>
    </div>

  </div>
</div>
