<div class="row justify-content-center">
  <div class="card card-body col-12 col-md-6">
    <h3>Login</h3>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input formControlName="password" type="password" class="form-control">
      </div>
      <div class="text-right">
        <input [disabled]="!loginForm.valid" class="btn btn-success" type="submit" value="Login">
      </div>
    </form>
    <span class="text-center">Not a member? <a [routerLink]="['/register']">Register</a></span>

  </div>

</div>
