<div class="row text-center mt-3">
  <div class="col-6 ">
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">
      <div class="portal-link">Job Seeker</div>
    </a>
  </div>
  <div class="col-6 ">
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">
      <div class="portal-link">Agency</div>
    </a>
  </div>
</div>

<!--  <br> or <br> Agency -->
