<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <div class="navbar-header" data-logobg="skin5">
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
          <i class="ti-menu ti-close"></i>
        </a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-brand">
          <a href="index.html" class="logo">
            <!-- Logo icon -->
            <b class="logo-icon">
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="../../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="../../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span class="logo-text">
              <!-- dark Logo text -->
              <img src="../../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo text -->
              <img src="../../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
            </span>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="ti-more"></i>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav float-left mr-auto">
          <!-- ============================================================== -->
          <!-- Search -->
          <!-- ============================================================== -->
          <li class="nav-item search-box">
            <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
              <div class="d-flex align-items-center">
                <i class="mdi mdi-magnify font-20 mr-1"></i>
                <div class="ml-1 d-none d-sm-block">
                  <span>Search</span>
                </div>
              </div>
            </a>
            <form class="app-search position-absolute">
              <input type="text" class="form-control" placeholder="Search &amp; enter">
              <a class="srh-btn">
                <i class="ti-close"></i>
              </a>
            </form>
          </li>
        </ul>
        <!-- ============================================================== -->
        <!-- Right side toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav float-right">
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><img src="../../assets/images/users/1.jpg" alt="user" class="rounded-circle"
                width="31"></a>
            <div class="dropdown-menu dropdown-menu-right user-dd animated">
              <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
            </div>
          </li>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false">
              <i class="mdi mdi-av-timer"></i>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-profile.html" aria-expanded="false">
              <i class="mdi mdi-account-network"></i>
              <span class="hide-menu">Profile</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="form-basic.html" aria-expanded="false">
              <i class="mdi mdi-arrange-bring-forward"></i>
              <span class="hide-menu">Form Basic</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="table-basic.html" aria-expanded="false">
              <i class="mdi mdi-border-none"></i>
              <span class="hide-menu">Table</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="icon-material.html" aria-expanded="false">
              <i class="mdi mdi-face"></i>
              <span class="hide-menu">Icon</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="starter-kit.html" aria-expanded="false">
              <i class="mdi mdi-file"></i>
              <span class="hide-menu">Blank</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="error-404.html" aria-expanded="false">
              <i class="mdi mdi-alert-outline"></i>
              <span class="hide-menu">404</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-5 align-self-center">
          <h4 class="page-title">Dashboard</h4>
        </div>
        <div class="col-7 align-self-center">
          <div class="d-flex align-items-center justify-content-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Email campaign chart -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Sales Ratio</h4>
              <div class="sales ct-charts mt-3"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title m-b-5">Referral Earnings</h5>
              <h3 class="font-light">$769.08</h3>
              <div class="m-t-20 text-center">
                <div id="earnings"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title m-b-0">Users</h4>
              <h2 class="font-light">35,658 <span class="font-16 text-success font-medium">+23%</span></h2>
              <div class="m-t-30">
                <div class="row text-center">
                  <div class="col-6 border-right">
                    <h4 class="m-b-0">58%</h4>
                    <span class="font-14 text-muted">New Users</span>
                  </div>
                  <div class="col-6">
                    <h4 class="m-b-0">42%</h4>
                    <span class="font-14 text-muted">Repeat Users</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Email campaign chart -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Ravenue - page-view-bounce rate -->
      <!-- ============================================================== -->
      <div class="row">
        <!-- column -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Latest Sales</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="border-top-0">NAME</th>
                    <th class="border-top-0">STATUS</th>
                    <th class="border-top-0">DATE</th>
                    <th class="border-top-0">PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td class="txt-oflo">Elite admin</td>
                    <td><span class="label label-success label-rounded">SALE</span> </td>
                    <td class="txt-oflo">April 18, 2017</td>
                    <td><span class="font-medium">$24</span></td>
                  </tr>
                  <tr>

                    <td class="txt-oflo">Real Homes WP Theme</td>
                    <td><span class="label label-info label-rounded">EXTENDED</span></td>
                    <td class="txt-oflo">April 19, 2017</td>
                    <td><span class="font-medium">$1250</span></td>
                  </tr>
                  <tr>

                    <td class="txt-oflo">Ample Admin</td>
                    <td><span class="label label-purple label-rounded">Tax</span></td>
                    <td class="txt-oflo">April 19, 2017</td>
                    <td><span class="font-medium">$1250</span></td>
                  </tr>
                  <tr>

                    <td class="txt-oflo">Medical Pro WP Theme</td>
                    <td><span class="label label-success label-rounded">Sale</span></td>
                    <td class="txt-oflo">April 20, 2017</td>
                    <td><span class="font-medium">-$24</span></td>
                  </tr>
                  <tr>

                    <td class="txt-oflo">Hosting press html</td>
                    <td><span class="label label-success label-rounded">SALE</span></td>
                    <td class="txt-oflo">April 21, 2017</td>
                    <td><span class="font-medium">$24</span></td>
                  </tr>
                  <tr>

                    <td class="txt-oflo">Digital Agency PSD</td>
                    <td><span class="label label-danger label-rounded">Tax</span> </td>
                    <td class="txt-oflo">April 23, 2017</td>
                    <td><span class="font-medium">-$14</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Ravenue - page-view-bounce rate -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Recent comment and chats -->
      <!-- ============================================================== -->
      <div class="row">
        <!-- column -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Recent Comments</h4>
            </div>
            <div class="comment-widgets" style="height:430px;">
              <!-- Comment Row -->
              <div class="d-flex flex-row comment-row m-t-0">
                <div class="p-2">
                  <img src="../../assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                </div>
                <div class="comment-text w-100">
                  <h6 class="font-medium">James Anderson</h6>
                  <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.
                  </span>
                  <div class="comment-footer">
                    <span class="text-muted float-right">April 14, 2016</span>
                    <span class="label label-rounded label-primary">Pending</span>
                    <span class="action-icons">
                      <a href="javascript:void(0)">
                        <i class="ti-pencil-alt"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="ti-check"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="ti-heart"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Comment Row -->
              <div class="d-flex flex-row comment-row">
                <div class="p-2">
                  <img src="../../assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
                </div>
                <div class="comment-text active w-100">
                  <h6 class="font-medium">Michael Jorden</h6>
                  <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.
                  </span>
                  <div class="comment-footer ">
                    <span class="text-muted float-right">April 14, 2016</span>
                    <span class="label label-success label-rounded">Approved</span>
                    <span class="action-icons active">
                      <a href="javascript:void(0)">
                        <i class="ti-pencil-alt"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="icon-close"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="ti-heart text-danger"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Comment Row -->
              <div class="d-flex flex-row comment-row">
                <div class="p-2">
                  <img src="../../assets/images/users/5.jpg" alt="user" width="50" class="rounded-circle">
                </div>
                <div class="comment-text w-100">
                  <h6 class="font-medium">Johnathan Doeting</h6>
                  <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.
                  </span>
                  <div class="comment-footer">
                    <span class="text-muted float-right">April 14, 2016</span>
                    <span class="label label-rounded label-danger">Rejected</span>
                    <span class="action-icons">
                      <a href="javascript:void(0)">
                        <i class="ti-pencil-alt"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="ti-check"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="ti-heart"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Comment Row -->
              <div class="d-flex flex-row comment-row m-t-0">
                <div class="p-2">
                  <img src="../../assets/images/users/2.jpg" alt="user" width="50" class="rounded-circle">
                </div>
                <div class="comment-text w-100">
                  <h6 class="font-medium">Steve Jobs</h6>
                  <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.
                  </span>
                  <div class="comment-footer">
                    <span class="text-muted float-right">April 14, 2016</span>
                    <span class="label label-rounded label-primary">Pending</span>
                    <span class="action-icons">
                      <a href="javascript:void(0)">
                        <i class="ti-pencil-alt"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="ti-check"></i>
                      </a>
                      <a href="javascript:void(0)">
                        <i class="ti-heart"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- column -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Temp Guide</h4>
              <div class="d-flex align-items-center flex-row m-t-30">
                <div class="display-5 text-info"><i class="wi wi-day-showers"></i> <span>73<sup>°</sup></span></div>
                <div class="m-l-10">
                  <h3 class="m-b-0">Saturday</h3><small>Ahmedabad, India</small>
                </div>
              </div>
              <table class="table no-border mini-table m-t-20">
                <tbody>
                  <tr>
                    <td class="text-muted">Wind</td>
                    <td class="font-medium">ESE 17 mph</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Humidity</td>
                    <td class="font-medium">83%</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Pressure</td>
                    <td class="font-medium">28.56 in</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Cloud Cover</td>
                    <td class="font-medium">78%</td>
                  </tr>
                </tbody>
              </table>
              <ul class="row list-style-none text-center m-t-30">
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-sunny"></i></h4>
                  <span class="d-block text-muted">09:30</span>
                  <h3 class="m-t-5">70<sup>°</sup></h3>
                </li>
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-cloudy"></i></h4>
                  <span class="d-block text-muted">11:30</span>
                  <h3 class="m-t-5">72<sup>°</sup></h3>
                </li>
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-hail"></i></h4>
                  <span class="d-block text-muted">13:30</span>
                  <h3 class="m-t-5">75<sup>°</sup></h3>
                </li>
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-sprinkle"></i></h4>
                  <span class="d-block text-muted">15:30</span>
                  <h3 class="m-t-5">76<sup>°</sup></h3>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Recent comment and chats -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
      All Rights Reserved by Nice admin. Designed and Developed by
      <a href="https://wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
