<div class="row justify-content-center">
  <div class="card card-body col-12 col-md-6">
    <h3>Register</h3>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
      <div class="form-group">
        <label>First Name</label>
        <input formControlName="firstname" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input formControlName="lastname" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Role</label>
        <select class="custom-select" formControlName="role">
          <option [value]="roles.SEEKER" selected>Job Seeker</option>
          <option [value]="roles.RECRUITER">Recruiter</option>
          <option [value]="roles.AGENCY">Agency</option>
        </select>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" type="text" class="form-control" required>
      </div>
      <div formArrayName="matchingPassword" id="register-form-password-group">
        <div class="form-group">
          <label>Password <small>(6 or more characters)</small></label>
          <input formControlName="password" type="password" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Re-type Password</label>
          <input formControlName="repeatPassword" type="password" class="form-control" required>
        </div>
      </div>
      <div class="text-right">
        <input [disabled]="!registerForm.valid" class="btn btn-success" type="submit" value="Register">
      </div>
    </form>
  </div>
</div>
