<div class="row justify-content-center">
  <div class="card card-body col-12 col-md-11">
    <h3>Profile</h3>
    <br>
    <form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="onProfileSave(profileForm)">
      <div class="row">
        <div class="form-group col-6">
          <label>First Name</label>
          <input formControlName="firstName" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Last Name</label>
          <input formControlName="lastName" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Email</label>
          <input formControlName="email" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Phone</label>
          <input formControlName="phone" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Date of Birth</label>
          <input formControlName="dob" type="date" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Current Employer</label>
          <input formControlName="currEmployer" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Current Contract Start Date</label>
          <input formControlName="currContractStart" type="date" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Current Contract End Date</label>
          <input formControlName="currContractEnd" type="date" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Availability</label>
          <select class="custom-select" formControlName="availability">
            <option [value]="availability.IMMEDIATELY" selected>Immediately</option>
            <option [value]="availability.NOT_AVAILABLE">Not Available</option>
            <option [value]="availability.IN_2_WEEKS">In 2 Weeks</option>
            <option [value]="availability.IN_1_MONTH">In 1 Month</option>
          </select>
        </div>
        <div class="form-group col-6">
          <label>Preferred Pay Rate (Hourly)</label>
          <input formControlName="preferredPayRate" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Linkedin Profile</label>
          <input formControlName="linkedInProfile" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Location</label>
          <input formControlName="location" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Preferred Designation</label>
          <input formControlName="preferredDesignation" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Preferred Location</label>
          <input formControlName="preferredLocation" type="text" class="form-control">
        </div>
        <div class="form-group col-6">
          <label>Preferred Industry</label>
          <!-- <input formControlName="preferredIndustry" type="text" class="form-control"> -->
          <br>
          <p-multiSelect class="p-multisel" formControlName="preferredIndustry" [options]="industriesOpts"></p-multiSelect>
        </div>
      </div>
      <div class="text-right">
        <!-- <input  class="btn btn-success" type="submit" value="Save"> -->
        <input [disabled]="!profileForm.valid" class="btn btn-success" type="submit" value="Save">
      </div>
    </form>

  </div>
</div>