.fixed-global-alert {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 20%;
  z-index: 9999;
  border-radius: 0px
}

.bg-muted-grey {
  background: #cccccc;
}

.close-btn {
  padding: 1px 10px;
  border: 1px solid #e9e9e9;
  background: #e9e9e9;
  border-radius: 99px;
  cursor: pointer;
}

.close-btn:hover {
  background: #f1f1f1;
}

i {
  font-size: 2rem;
}
