<!-- <div class="fixed-global-alert"> -->
<div *ngIf="(message$ | async) && (message$ | async).length > 0" class="fixed-global-alert">
  <div class="row">
    <div class="alert bg-muted-grey ml-4 w-100 d-flex justify-content-between">
      <!-- <i class="fa fa-exclamation-circle i-error"></i>
      <i class="fa fa-check-circle i-success"></i> -->
      <span class="align-self-center pr-2">
        <i *ngIf="(status$ | async) === status.FAILED" class="fa fa-exclamation-circle i-error"></i>
        <i *ngIf="(status$ | async) === status.SUCCESS" class="fa fa-check-circle i-success"></i>
      </span>
      <span class="message">{{message$ | async}}</span> <span class="close-btn text-right align-self-center" (click)="reset()">x</span>
    </div>
  </div>
</div>
