/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  min-height: 100%;
  /* font-family: 'Roboto', sans-serif */
  font-family: 'Fira Sans', sans-serif
}

.ofy-scroll {
  overflow-y: scroll;
}

.i-success {
  color: #72ab26;
}

.i-error {
  color: #ab2638;
}
