<div class="page">
  <!-- Main Navbar-->
  <header class="header">
    <app-header></app-header>
  </header>

  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <nav *ngIf="!(tokenExpired$ | async)" class="side-navbar">
      <app-side-nav></app-side-nav>
    </nav>
    <div class="content-inner pt-5 container-fluid">
      <router-outlet></router-outlet>
    </div>
    <app-global-alert-box></app-global-alert-box>
  </div>
</div>
